<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Great Number Game!</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <div class="ipt">
            <div>
                I am thinking of a number between 1 and 100.
            </div>
            <div>
                Take a guess!
            </div>    
        </div>

        <% if(startGame > 1){ %>
            <div class="<%= result.ccs %>"> <%= result.text %>
                <% if(finish == true){ %>
                    <div>
                        <a href="/restart"><button class="btn" type="submit">Play Again!</button></a>
                    </div>
                <% } %>
            </div>
        <% } %>

        <% if(finish == false){ %>
            <form action="/test" method="POST">
                <div class="ipt">
                    <input name="number" id="number" type="number">
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>           
        <% } %>   
    </div>
   
</body>
</html>
